<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/style.css">
<head>
  <title>Hogwarts Homepage</title>




</head>
<body>
  <nav >
    <ul>
      <li><a href="/hogwarts"> All the students</a></li>
      <li>  <a href="/hogwarts/new"> Add a student</a></li>

    </ul>



  </nav>
  <%= yield %>

</body>
</html>
